<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <form>
            <div class="form-group">
            <label>Title</label>
            <input class="form-control" id="title" name="title" placeholder="required"/>
            </div>
            <div class="form-group">
            <label>Top Text</label>
            <input class="form-control" id="top_text" name="top_text" placeholder="required"/>
            </div>
            <div class="form-group">
            <label>Author</label>
            <input class="form-control" id="author" name="author" placeholder="required"/>
            </div>
            <div class="form-group">
            <label>Animal Code</label>
            <input class="form-control" id="image_code" name="image_code" placeholder="1-40 (listed below, defaults to random)"/>
            </div>
            <div class="form-group">
            <label>Color Code</label>
            <input class="form-control" id="theme" name="theme" placeholder="0-16 (listed below, defaults to random)"/>
            </div>
            <div class="form-group">
            <label>Guide Text</label>
            <input class="form-control" id="guide_text" name="guide_text" placeholder="such as 'The Definitive Guide'"/>
            </div>
            <div class="form-group">
            <label>Guide Text Placement</label>
            <select class="form-control" id="guide_text_placement" name="guide_text_placement">
              <option selected value="bottom_right">Bottom Right</option>
              <option value="bottom_left">Bottom Left</option>
              <option value="top_right">Top Right</option>
              <option value="top_left">Top Left</option>
            </select>
            </div>
            <div class="form-group">
            <button id="generate-btn" class="btn btn-primary">Generate O RLY</button>
            </div>
          </form>
        </div>
        <div class="col-sm-4">
          <h2>Aperçu</h2>
          <div class="result"></div>
        </div>
      </div>
    </div>
    <div class="container">
    {% for id in range(1,41) %}
      <div class="float-xs-left" style="margin: 0 5px;">
        <span>{{id}}</span>
        <br />
        <img src="/images/{{id}}" style="width: 100px; height: 100px;" class="img-thumbnail" />
      </div>
    {% endfor %}
    </div>
    <div class="container">
      <h3>Color Codes</h3>
      <div class="float-xs-left rounded-circle img-thumbnail" style="color: #fff; vertical-align: middle; text-align: center; width: 100px; height: 100px; margin: 0 5px; background-color:rgba(85,19,93,255)">0</div>
      <div class="float-xs-left rounded-circle img-thumbnail" style="color: #fff; vertical-align: middle; text-align: center; width: 100px; height: 100px; margin: 0 5px; background-color:rgba(113,112,110,255)">1</div>
      <div class="float-xs-left rounded-circle img-thumbnail" style="color: #fff; vertical-align: middle; text-align: center; width: 100px; height: 100px; margin: 0 5px; background-color:rgba(128,27,42,255)">2</div>
      <div class="float-xs-left rounded-circle img-thumbnail" style="color: #fff; vertical-align: middle; text-align: center; width: 100px; height: 100px; margin: 0 5px; background-color:rgba(184,7,33,255)">3</div>
      <div class="float-xs-left rounded-circle img-thumbnail" style="color: #fff; vertical-align: middle; text-align: center; width: 100px; height: 100px; margin: 0 5px; background-color:rgba(101,22,28,255)">4</div>
      <div class="float-xs-left rounded-circle img-thumbnail" style="color: #fff; vertical-align: middle; text-align: center; width: 100px; height: 100px; margin: 0 5px; background-color:rgba(80,61,189,255)">5</div>
      <div class="float-xs-left rounded-circle img-thumbnail" style="color: #fff; vertical-align: middle; text-align: center; width: 100px; height: 100px; margin: 0 5px; background-color:rgba(225,17,5,255)">6</div>
      <div class="float-xs-left rounded-circle img-thumbnail" style="color: #fff; vertical-align: middle; text-align: center; width: 100px; height: 100px; margin: 0 5px; background-color:rgba(6,123,176,255)">7</div>
      <div class="float-xs-left rounded-circle img-thumbnail" style="color: #fff; vertical-align: middle; text-align: center; width: 100px; height: 100px; margin: 0 5px; background-color:rgba(247,181,0,255)">8</div>
      <div class="float-xs-left rounded-circle img-thumbnail" style="color: #fff; vertical-align: middle; text-align: center; width: 100px; height: 100px; margin: 0 5px; background-color:rgba(0,15,118,255)">9</div>
      <div class="float-xs-left rounded-circle img-thumbnail" style="color: #fff; vertical-align: middle; text-align: center; width: 100px; height: 100px; margin: 0 5px; background-color:rgba(168,0,155,255)">10</div>
      <div class="float-xs-left rounded-circle img-thumbnail" style="color: #fff; vertical-align: middle; text-align: center; width: 100px; height: 100px; margin: 0 5px; background-color:rgba(0,132,69,255)">11</div>
      <div class="float-xs-left rounded-circle img-thumbnail" style="color: #fff; vertical-align: middle; text-align: center; width: 100px; height: 100px; margin: 0 5px; background-color:rgba(0,153,157,255)">12</div>
      <div class="float-xs-left rounded-circle img-thumbnail" style="color: #fff; vertical-align: middle; text-align: center; width: 100px; height: 100px; margin: 0 5px; background-color:rgba(1,66,132,255)">13</div>
      <div class="float-xs-left rounded-circle img-thumbnail" style="color: #fff; vertical-align: middle; text-align: center; width: 100px; height: 100px; margin: 0 5px; background-color:rgba(177,0,52,255)">14</div>
      <div class="float-xs-left rounded-circle img-thumbnail" style="color: #fff; vertical-align: middle; text-align: center; width: 100px; height: 100px; margin: 0 5px; background-color:rgba(55,142,25,255)">15</div>
      <div class="float-xs-left rounded-circle img-thumbnail" style="color: #fff; vertical-align: middle; text-align: center; width: 100px; height: 100px; margin: 0 5px; background-color:rgba(133,152,0,255)">16</div>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js" integrity="sha384-XTs3FgkjiBgo8qjEjBk0tGmf3wPrWtA6coPfQDfFEY8AnYJwjalXCiosYRBIBZX8" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
    <script>
      $("#title, #top_text, #author, #image_code, #theme, #guide_text, #guide_text_placement").on('change keyup paste', function(e){
        e.preventDefault();
        var title = encodeURIComponent($("#title").val());
        var topText = encodeURIComponent($("#top_text").val());
        var author = encodeURIComponent($("#author").val());
        var imageCode = encodeURIComponent($("#image_code").val());
        var theme = encodeURIComponent($("#theme").val());
        var guide_text = encodeURIComponent($("#guide_text").val());
        var guide_text_placement = encodeURIComponent($("#guide_text_placement").val());

        if(isNaN(imageCode) || imageCode.length == 0){
          imageCode = Math.floor(Math.random() * 38) + 1;
        }
        if(isNaN(theme) || theme.length == 0){
          theme = Math.floor(Math.random() * 16);
        }
        if(title.length > 0 && topText.length > 0 && author.length > 0){
          var imagePath = '/generate?title='+title+'&top_text='+topText+'&author='+author+'&image_code='+imageCode+'&theme='+theme+'&guide_text='+guide_text+'&guide_text_placement='+guide_text_placement;
          $(".result").html('<img src="'+imagePath+'" />')
          $(".result").append('<a href="'+imagePath+'" download="'+imagePath+'">Download</a>');
          if($(window).width()< 820){
            $("html,body").animate({scrollTop:$('.result').offset().top - 60}, '500');
          }
        }
        else{
          if(title.length == 0){
            $("#title").addClass("error");
          }
          if(topText.length == 0){
            $("#top_text").addClass("error");
          }
          if(author.length == 0){
            $("#author").addClass("error");
          }
        }
      });
    </script>
  </body>
</div>